#app {
  height: 100%;
}

/* $grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
  ); */

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 900px;
  height: 200px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  border: solid #007aff 1px;
  border-radius: 0px;
  width: 21px;
  height: 21px;
  line-height: 15px;
  font-size: 20px;
  color: #ffffff;
  opacity: 0.25;
  background: rgba(0, 0, 0, 0.85);
  transition: all ease-in-out 100ms;
}

.swiper-pagination-bullet:hover {
  scale: 1.1;
  font-size: 1.15rem;
  font-weight: bold;
}

.swiper:hover .swiper-pagination-bullet {
  opacity: 1;
}

@media only screen and (max-width: 992px) {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-pagination-bullet {
    width: 1em;
    height: 1rem;
    line-height: 0.75rem;
    font-size: 1rem;
  }
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

/*1064px width - 384px height*/
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
